<p>Hey,</p>
<p></p>
<p><%= @message %></p>
<p></p>
<p><%= @name %> thought you may be interested in this</p>
<p></p>
<p>Visit this URL : <%= link_to graph_url(@id),graph_url(@id)%> </p>
<p></p>
<p></p>
<p>Regards,</p>
<p></p>
<p>Dealkat</p>